<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plist</key>
	<array>
		<dict>
			<key>RKAdjustmentChainPresetCropPreserveOrientation</key>
			<true/>
			<key>RKAdjustmentChainPresetCropSourceMasterHeight</key>
			<integer>3456</integer>
			<key>RKAdjustmentChainPresetCropSourceMasterWidth</key>
			<integer>5184</integer>
			<key>RKAdjustmentChainPresetCropSourceRotation</key>
			<integer>0</integer>
			<key>RKAdjustmentChainPresetInfoDictionaryArray</key>
			<array>
				<dict>
					<key>adjIndex</key>
					<integer>8700000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGPD1YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFAcIGxwdHh8gISssLS4vMDE4OTo7VSRu
					dWxs0wkKCwwTGldOUy5rZXlzWk5TLm9iamVj
					dHNWJGNsYXNzpg0ODxAREoACgAOABIAFgAaA
					B6YUFRYXGBmACIAOgBCAEYASgBOAD1lpbnB1
					dEtleXNfEBhER09wZXJhdGlvblZlcnNpb25O
					dW1iZXJXZW5hYmxlZF8QFERHT3BlcmF0aW9u
					Q2xhc3NOYW1lXxAVREdPcGVyYXRpb25JZGVu
					dGlmaWVyXxAWREdPcGVyYXRpb25EaXNwbGF5
					TmFtZdMJCgsiJhqjIyQlgAmACoALoycoFYAM
					gA2ADoAPXxAPaW5wdXRFZGdlRGV0YWlsW2lu
					cHV0UmFkaXVzXxAgaW5wdXROb2lzZVJlZHVj
					dGlvbkxlZ2FjeVZlcnNpb24jP/gAAAAAAAAj
					P/AAAAAAAAAQANIyMzQ1WiRjbGFzc25hbWVY
					JGNsYXNzZXNfEBNOU011dGFibGVEaWN0aW9u
					YXJ5ozQ2N1xOU0RpY3Rpb25hcnlYTlNPYmpl
					Y3QJXxAZREdOb2lzZVJlZHVjdGlvbk9wZXJh
					dGlvbl8QGVJLTm9pc2VSZWR1Y3Rpb25PcGVy
					YXRpb25fEA9Ob2lzZSBSZWR1Y3Rpb25fEA9O
					U0tleWVkQXJjaGl2ZXLRPj9Ucm9vdIABAAgA
					EQAaACMALQAyADcATgBUAFsAYwBuAHUAfAB+
					AIAAggCEAIYAiACPAJEAkwCVAJcAmQCbAJ0A
					pwDCAMoA4QD5ARIBGQEdAR8BIQEjAScBKQEr
					AS0BLwFBAU0BcAF5AYIBhAGJAZQBnQGzAbcB
					xAHNAc4B6gIGAhgCKgItAjIAAAAAAAACAQAA
					AAAAAABAAAAAAAAAAAAAAAAAAAACNA==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81232</integer>
					<key>name</key>
					<string>RKNoiseReductionOperation</string>
					<key>uuid</key>
					<string>gV3X1ltNSdGIHKXKDJbkwQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>10000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGS0xYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGwcIGxwdHh8gISIjJCU3ODk6Ozw9Pj9A
					QUJDSlUkbnVsbNMJCgsMExpXTlMua2V5c1pO
					Uy5vYmplY3RzViRjbGFzc6YNDg8QERKAAoAD
					gASABYAGgAemFBUWFxgZgAiACYAKgAuADIAa
					gBlXZW5hYmxlZF8QFURHT3BlcmF0aW9uSWRl
					bnRpZmllcl8QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcl8QFERHT3BlcmF0aW9uQ2xhc3NO
					YW1lWWlucHV0S2V5c18QFkRHT3BlcmF0aW9u
					RGlzcGxheU5hbWUJXxATUktFeHBvc3VyZU9w
					ZXJhdGlvbhAAXxATREdFeHBvc3VyZU9wZXJh
					dGlvbtMJCgsmLhqnJygpKissLYANgA6AD4AQ
					gBGAEoATpy8wLzIzMjWAFIAVgBSAFoAXgBaA
					GIAZV2lucHV0RVZfEA9pbnB1dFJlY292ZXJ5
					RVZfEA9pbnB1dEJyaWdodG5lc3NfEBlpbnB1
					dFdhaXRpbmdGb3JBdXRvVmFsdWVzWWlucHV0
					Qmlhc18QHGlucHV0VXNlQXV0b0NhbGN1bGF0
					ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxjdWxh
					dG9yT3B0aW9uIwAAAAAAAAAAIz+5mZmZmZma
					EAAjQAgAAAAAAAAQANJERUZHWiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5o0ZISVxOU0RpY3Rpb25hcnlYTlNP
					YmplY3RYRXhwb3N1cmVfEA9OU0tleWVkQXJj
					aGl2ZXLRTU5Ucm9vdIABAAgAEQAaACMALQAy
					ADcAVQBbAGIAagB1AHwAgwCFAIcAiQCLAI0A
					jwCWAJgAmgCcAJ4AoACiAKQArADEAN8A9gEA
					ARkBGgEwATIBSAFPAVcBWQFbAV0BXwFhAWMB
					ZQFtAW8BcQFzAXUBdwF5AXsBfQGFAZcBqQHF
					Ac8B7gIKAhMCHAIeAicCKQIuAjkCQgJYAlwC
					aQJyAnsCjQKQApUAAAAAAAACAQAAAAAAAABP
					AAAAAAAAAAAAAAAAAAAClw==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81583</integer>
					<key>name</key>
					<string>RKExposureOperation</string>
					<key>uuid</key>
					<string>pn04BlpkS2KZlusZcGbDoQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>11000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGbm9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QJAcIIyQlJicoKSorLC0uLzAxVVZXWFla
					W1xdXl9gYWJjZGVmbVUkbnVsbNMJCgsMFyJX
					TlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6oN
					Dg8QERITFBUWgAKAA4AEgAWABoAHgAiACYAK
					gAuqGBkaGBwYHh8YGIAMgA2ADoAMgA+ADIAQ
					gCOADIAMgCJfEBppbnB1dFZpYnJhbmNlTGVn
					YWN5VmVyc2lvbldlbmFibGVkXxAVREdPcGVy
					YXRpb25JZGVudGlmaWVyXxAYREdPcGVyYXRp
					b25WZXJzaW9uTnVtYmVyXxAUREdPcGVyYXRp
					b25DbGFzc05hbWVfEBppbnB1dENvbnRyYXN0
					TGVnYWN5VmVyc2lvbllpbnB1dEtleXNfEBZE
					R09wZXJhdGlvbkRpc3BsYXlOYW1lXxAcaW5w
					dXRTYXR1cmF0aW9uTGVnYWN5VmVyc2lvbl8Q
					HGlucHV0RGVmaW5pdGlvbkxlZ2FjeVZlcnNp
					b24QAAlfEBJSS0VuaGFuY2VPcGVyYXRpb25f
					EBJER0VuaGFuY2VPcGVyYXRpb27TCQoLMkMi
					rxAQMzQ1Njc4DTo7PBI+FRZBQoARgBKAE4AU
					gBWAFoACgBeAGIAZgAeAGoAKgAuAG4AcrxAQ
					REVGRUhFGEtFRRhFGBhIRYAdgB6AH4AegCCA
					HoAMgCGAHoAegAyAHoAMgAyAIIAegCJfEA9p
					bnB1dERlZmluaXRpb25fEBFpbnB1dEJsYWNr
					VU9mZnNldF1pbnB1dENvbnRyYXN0XxARaW5w
					dXRCbGFja1ZPZmZzZXRfEBxpbnB1dFVzZUF1
					dG9DYWxjdWxhdGVkVmFsdWVzXxAQaW5wdXRH
					cmF5Vk9mZnNldF8QD2lucHV0U2F0dXJhdGlv
					bl8QEWlucHV0V2hpdGVVT2Zmc2V0XxARaW5w
					dXRXaGl0ZVZPZmZzZXRdaW5wdXRWaWJyYW5j
					eV8QGWlucHV0V2FpdGluZ0ZvckF1dG9WYWx1
					ZXNfEBBpbnB1dEdyYXlVT2Zmc2V0Iz+pmZmZ
					mZmaIwAAAAAAAAAAIz+pmZmZmZmaEAAjP/AA
					AAAAAADSZ2hpalokY2xhc3NuYW1lWCRjbGFz
					c2VzXxATTlNNdXRhYmxlRGljdGlvbmFyeaNp
					a2xcTlNEaWN0aW9uYXJ5WE5TT2JqZWN0V0Vu
					aGFuY2VfEA9OU0tleWVkQXJjaGl2ZXLRcHFU
					cm9vdIABAAgAEQAaACMALQAyADcAXgBkAGsA
					cwB+AIUAkACSAJQAlgCYAJoAnACeAKAAogCk
					AK8AsQCzALUAtwC5ALsAvQC/AMEAwwDFAOIA
					6gECAR0BNAFRAVsBdAGTAbIBtAG1AcoB3wHm
					AfkB+wH9Af8CAQIDAgUCBwIJAgsCDQIPAhEC
					EwIVAhcCGQIsAi4CMAIyAjQCNgI4AjoCPAI+
					AkACQgJEAkYCSAJKAkwCTgJgAnQCggKWArUC
					yALaAu4DAgMQAywDPwNIA1EDWgNcA2UDagN1
					A34DlAOYA6UDrgO2A8gDywPQAAAAAAAAAgEA
					AAAAAAAAcgAAAAAAAAAAAAAAAAAAA9I=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81584</integer>
					<key>name</key>
					<string>RKEnhanceOperation</string>
					<key>uuid</key>
					<string>zEjP3E7wQbaz%nahqnNUNw</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>17000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQ0RYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFwcIGxwdHh8gIS8wMTIzNDU2Nz4/QEFC
					VSRudWxs0wkKCwwTGldOUy5rZXlzWk5TLm9i
					amVjdHNWJGNsYXNzpg0ODxAREoACgAOABIAF
					gAaAB6YUFRYXGBmACIASgBOAFIAVgBaAEVlp
					bnB1dEtleXNfEBhER09wZXJhdGlvblZlcnNp
					b25OdW1iZXJXZW5hYmxlZF8QFERHT3BlcmF0
					aW9uQ2xhc3NOYW1lXxAVREdPcGVyYXRpb25J
					ZGVudGlmaWVyXxAWREdPcGVyYXRpb25EaXNw
					bGF5TmFtZdMJCgsiKBqlIyQlJieACYAKgAuA
					DIANpSkqKykqgA6AD4AQgA6AD4ARXxAZaW5w
					dXRXYWl0aW5nRm9yQXV0b1ZhbHVlc18QEWlu
					cHV0U2hhZG93QW1vdW50XxAUaW5wdXRNaWR0
					b25lQ29udHJhc3RfEBxpbnB1dFVzZUF1dG9D
					YWxjdWxhdGVkVmFsdWVzXxAUaW5wdXRIaWdo
					bGlnaHRBbW91bnQQACNAPgAAAAAAACMAAAAA
					AAAAANI4OTo7WiRjbGFzc25hbWVYJGNsYXNz
					ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5ozo8
					PVxOU0RpY3Rpb25hcnlYTlNPYmplY3QQAQlf
					EBxER1NoYWRvd0hpZ2hsaWdodFYxT3BlcmF0
					aW9uXxAaUktTaGFkb3dIaWdobGlnaHRPcGVy
					YXRpb25fEBRIaWdobGlnaHRzICYgU2hhZG93
					c18QD05TS2V5ZWRBcmNoaXZlctFFRlRyb290
					gAEACAARABoAIwAtADIANwBRAFcAXgBmAHEA
					eAB/AIEAgwCFAIcAiQCLAJIAlACWAJgAmgCc
					AJ4AoACqAMUAzQDkAPwBFQEcASIBJAEmASgB
					KgEsATIBNAE2ATgBOgE8AT4BWgFuAYUBpAG7
					Ab0BxgHPAdQB3wHoAf4CAgIPAhgCGgIbAjoC
					VwJuAoACgwKIAAAAAAAAAgEAAAAAAAAARwAA
					AAAAAAAAAAAAAAAAAoo=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81585</integer>
					<key>name</key>
					<string>RKShadowHighlightOperation</string>
					<key>uuid</key>
					<string>XIRpC%UpQMOBhfYWHm%swQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>18000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGREVYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGAcIGxwdHh8gISIjJCUzNDU2Nzg5Ojs8
					Q1UkbnVsbNMJCgsMExpXTlMua2V5c1pOUy5v
					YmplY3RzViRjbGFzc6YNDg8QERKAAoADgASA
					BYAGgAemFBUWFxgZgAiACYAKgAuADIAXgBZf
					EBRER09wZXJhdGlvbkNsYXNzTmFtZV8QGERH
					T3BlcmF0aW9uVmVyc2lvbk51bWJlcldlbmFi
					bGVkXxAVREdPcGVyYXRpb25JZGVudGlmaWVy
					WWlucHV0S2V5c18QFkRHT3BlcmF0aW9uRGlz
					cGxheU5hbWVfEBFER0xldmVsc09wZXJhdGlv
					bhAACV8QEVJLTGV2ZWxzT3BlcmF0aW9u0wkK
					CyYsGqUnKCkqK4ANgA6AD4AQgBGlLS4vMC+A
					EoATgBSAFYAUgBZcaW5wdXRBdXRvUkdCWWlu
					cHV0TW9kZV8QHGlucHV0VXNlQXV0b0NhbGN1
					bGF0ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxj
					dWxhdG9yT3B0aW9uXxASaW5wdXRBdXRvTHVt
					aW5hbmNlEAAQARABEADSPT4/QFokY2xhc3Nu
					YW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGlj
					dGlvbmFyeaM/QUJcTlNEaWN0aW9uYXJ5WE5T
					T2JqZWN0VkxldmVsc18QD05TS2V5ZWRBcmNo
					aXZlctFGR1Ryb290gAEACAARABoAIwAtADIA
					NwBSAFgAXwBnAHIAeQCAAIIAhACGAIgAigCM
					AJMAlQCXAJkAmwCdAJ8AoQC4ANMA2wDzAP0B
					FgEqASwBLQFBAUgBTgFQAVIBVAFWAVgBXgFg
					AWIBZAFmAWgBagF3AYEBoAG8AdEB0wHVAdcB
					2QHeAekB8gIIAgwCGQIiAikCOwI+AkMAAAAA
					AAACAQAAAAAAAABIAAAAAAAAAAAAAAAAAAAC
					RQ==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81586</integer>
					<key>name</key>
					<string>RKLevelsOperation</string>
					<key>uuid</key>
					<string>YnT4g26cQNy54vbODxqnYQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>23000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGOTpYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QEwcIGxwdHh8gISkqKywtNDU2NzhVJG51
					bGzTCQoLDBMaV05TLmtleXNaTlMub2JqZWN0
					c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWABoAH
					phQVFhcYGYAIgA6AD4AQgBGAEoANWWlucHV0
					S2V5c18QGERHT3BlcmF0aW9uVmVyc2lvbk51
					bWJlcldlbmFibGVkXxAUREdPcGVyYXRpb25D
					bGFzc05hbWVfEBVER09wZXJhdGlvbklkZW50
					aWZpZXJfEBZER09wZXJhdGlvbkRpc3BsYXlO
					YW1l0wkKCyIlGqIjJIAJgAqiJieAC4AMgA1e
					aW5wdXRJbnRlbnNpdHlbaW5wdXRSYWRpdXMj
					P9mZmZmZmZojQBAAAAAAAADSLi8wMVokY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMwMjNcTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN0EAAJXxASREdTaGFycGVuT3Bl
					cmF0aW9uXxASUktTaGFycGVuT3BlcmF0aW9u
					V1NoYXJwZW5fEA9OU0tleWVkQXJjaGl2ZXLR
					OzxUcm9vdIABAAgAEQAaACMALQAyADcATQBT
					AFoAYgBtAHQAewB9AH8AgQCDAIUAhwCOAJAA
					kgCUAJYAmACaAJwApgDBAMkA4AD4AREBGAEb
					AR0BHwEiASQBJgEoATcBQwFMAVUBWgFlAW4B
					hAGIAZUBngGgAaEBtgHLAdMB5QHoAe0AAAAA
					AAACAQAAAAAAAAA9AAAAAAAAAAAAAAAAAAAB
					7w==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81233</integer>
					<key>name</key>
					<string>RKSharpenOperation</string>
					<key>uuid</key>
					<string>7Lmc5wDsTZWC01BELfzUqg</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>24000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQEFYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFgcIGxwdHh8gIS0uLzAxMjM0NTw9Pj9V
					JG51bGzTCQoLDBMaV05TLmtleXNaTlMub2Jq
					ZWN0c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWA
					BoAHphQVFhcYGYAIgA2AEoATgBSAFYARWWlu
					cHV0S2V5c18QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcldlbmFibGVkXxAUREdPcGVyYXRp
					b25DbGFzc05hbWVfEBVER09wZXJhdGlvbklk
					ZW50aWZpZXJfEBZER09wZXJhdGlvbkRpc3Bs
					YXlOYW1l0wkKCyInGqQjJCUmgAmACoALgAyk
					FSkqK4ANgA6AD4AQgBFfECBpbnB1dFByb0Vk
					Z2VTaGFycGVuTGVnYWN5VmVyc2lvblxpbnB1
					dEZhbGxvZmZeaW5wdXRFZGdlU2NhbGVeaW5w
					dXRTaGFycG5lc3MQACM/4AAAAAAAACM/4AAA
					AAAAACM/4AAAAAAAANI2Nzg5WiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5ozg6O1xOU0RpY3Rpb25hcnlYTlNP
					YmplY3QJXxAZREdQcm9FZGdlU2hhcnBlbk9w
					ZXJhdGlvbl8QFVJLUHJvU2hhcnBlbk9wZXJh
					dGlvblxFZGdlIFNoYXJwZW5fEA9OU0tleWVk
					QXJjaGl2ZXLRQkNUcm9vdIABAAgAEQAaACMA
					LQAyADcAUABWAF0AZQBwAHcAfgCAAIIAhACG
					AIgAigCRAJMAlQCXAJkAmwCdAJ8AqQDEAMwA
					4wD7ARQBGwEgASIBJAEmASgBLQEvATEBMwE1
					ATcBWgFnAXYBhQGHAZABmQGiAacBsgG7AdEB
					1QHiAesB7AIIAiACLQI/AkICRwAAAAAAAAIB
					AAAAAAAAAEQAAAAAAAAAAAAAAAAAAAJJ
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>81234</integer>
					<key>name</key>
					<string>RKProSharpenOperation</string>
					<key>uuid</key>
					<string>aP3PMSaQR9W3mWqrxq2fuA</string>
				</dict>
			</array>
			<key>RKAdjustmentChainPresetName</key>
			<string>Canon EOS 60D v1.2</string>
			<key>RKAdjustmentChainPresetRenderPipelineVersion</key>
			<integer>3</integer>
			<key>RKAdjustmentChainPresetUUID</key>
			<string>BkiMl6OuSYi2fUQdHzl8tg</string>
			<key>RKAdjustmentChainPresetUuuidArray</key>
			<array>
				<string>gV3X1ltNSdGIHKXKDJbkwQ</string>
				<string>pn04BlpkS2KZlusZcGbDoQ</string>
				<string>zEjP3E7wQbaz%nahqnNUNw</string>
				<string>XIRpC%UpQMOBhfYWHm%swQ</string>
				<string>YnT4g26cQNy54vbODxqnYQ</string>
				<string>7Lmc5wDsTZWC01BELfzUqg</string>
				<string>aP3PMSaQR9W3mWqrxq2fuA</string>
			</array>
			<key>RKAdjustmentChainPresetVersion</key>
			<string>3</string>
		</dict>
		<dict>
			<key>RKAdjustmentChainPresetCropPreserveOrientation</key>
			<true/>
			<key>RKAdjustmentChainPresetCropSourceMasterHeight</key>
			<integer>3668</integer>
			<key>RKAdjustmentChainPresetCropSourceMasterWidth</key>
			<integer>11358</integer>
			<key>RKAdjustmentChainPresetCropSourceRotation</key>
			<integer>0</integer>
			<key>RKAdjustmentChainPresetInfoDictionaryArray</key>
			<array>
				<dict>
					<key>adjIndex</key>
					<integer>10000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGS0xYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGwcIGxwdHh8gISIjJCU3ODk6Ozw9Pj9A
					QUJDSlUkbnVsbNMJCgsMExpXTlMua2V5c1pO
					Uy5vYmplY3RzViRjbGFzc6YNDg8QERKAAoAD
					gASABYAGgAemFBUWFxgZgAiACYAKgAuADIAa
					gBlXZW5hYmxlZF8QFURHT3BlcmF0aW9uSWRl
					bnRpZmllcl8QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcl8QFERHT3BlcmF0aW9uQ2xhc3NO
					YW1lWWlucHV0S2V5c18QFkRHT3BlcmF0aW9u
					RGlzcGxheU5hbWUJXxATUktFeHBvc3VyZU9w
					ZXJhdGlvbhAAXxATREdFeHBvc3VyZU9wZXJh
					dGlvbtMJCgsmLhqnJygpKissLYANgA6AD4AQ
					gBGAEoATpy8wMTIvMjWAFIAVgBaAF4AUgBeA
					GIAZV2lucHV0RVZfEA9pbnB1dFJlY292ZXJ5
					RVZfEA9pbnB1dEJyaWdodG5lc3NfEBlpbnB1
					dFdhaXRpbmdGb3JBdXRvVmFsdWVzWWlucHV0
					Qmlhc18QHGlucHV0VXNlQXV0b0NhbGN1bGF0
					ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxjdWxh
					dG9yT3B0aW9uIwAAAAAAAAAAIz/4AAAAAAAA
					Iz+5mZmZmZmaEAAQANJERUZHWiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5o0ZISVxOU0RpY3Rpb25hcnlYTlNP
					YmplY3RYRXhwb3N1cmVfEA9OU0tleWVkQXJj
					aGl2ZXLRTU5Ucm9vdIABAAgAEQAaACMALQAy
					ADcAVQBbAGIAagB1AHwAgwCFAIcAiQCLAI0A
					jwCWAJgAmgCcAJ4AoACiAKQArADEAN8A9gEA
					ARkBGgEwATIBSAFPAVcBWQFbAV0BXwFhAWMB
					ZQFtAW8BcQFzAXUBdwF5AXsBfQGFAZcBqQHF
					Ac8B7gIKAhMCHAIlAicCKQIuAjkCQgJYAlwC
					aQJyAnsCjQKQApUAAAAAAAACAQAAAAAAAABP
					AAAAAAAAAAAAAAAAAAAClw==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187424</integer>
					<key>name</key>
					<string>RKExposureOperation</string>
					<key>uuid</key>
					<string>6uAlfZNhT3izLHWLezZVig</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>11000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGbm9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QJAcIIyQlJicoKSorLC0uUlNUVVZXWFla
					W1xdXl9gYWJjamtsbVUkbnVsbNMJCgsMFyJX
					TlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6oN
					Dg8QERITFBUWgAKAA4AEgAWABoAHgAiACYAK
					gAuqGBkaGBwdGBggGIAMgA2AIIAMgCGAIoAM
					gAyAI4AMgB9fEBhER09wZXJhdGlvblZlcnNp
					b25OdW1iZXJZaW5wdXRLZXlzXxAUREdPcGVy
					YXRpb25DbGFzc05hbWVfEBppbnB1dFZpYnJh
					bmNlTGVnYWN5VmVyc2lvbl8QFkRHT3BlcmF0
					aW9uRGlzcGxheU5hbWVXZW5hYmxlZF8QGmlu
					cHV0Q29udHJhc3RMZWdhY3lWZXJzaW9uXxAc
					aW5wdXREZWZpbml0aW9uTGVnYWN5VmVyc2lv
					bl8QFURHT3BlcmF0aW9uSWRlbnRpZmllcl8Q
					HGlucHV0U2F0dXJhdGlvbkxlZ2FjeVZlcnNp
					b24QANMJCgsvQCKvEBAwMTIzNDUQNzg5EzsW
					FD4/gA6AD4AQgBGAEoATgAWAFIAVgBaACIAX
					gAuACYAYgBmvEBBBQUNBRUEYSEFBGEwYGEVB
					gBqAGoAbgBqAHIAagAyAHYAagBqADIAegAyA
					DIAcgBqAH18QD2lucHV0RGVmaW5pdGlvbl8Q
					EWlucHV0QmxhY2tVT2Zmc2V0XWlucHV0Q29u
					dHJhc3RfEBFpbnB1dEJsYWNrVk9mZnNldF8Q
					HGlucHV0VXNlQXV0b0NhbGN1bGF0ZWRWYWx1
					ZXNfEBBpbnB1dEdyYXlWT2Zmc2V0XxAPaW5w
					dXRTYXR1cmF0aW9uXxARaW5wdXRXaGl0ZVVP
					ZmZzZXRfEBFpbnB1dFdoaXRlVk9mZnNldF1p
					bnB1dFZpYnJhbmN5XxAZaW5wdXRXYWl0aW5n
					Rm9yQXV0b1ZhbHVlc18QEGlucHV0R3JheVVP
					ZmZzZXQjAAAAAAAAAAAjP564UeuFHrgQACM/
					8AAAAAAAACM/uZmZmZmZmtJkZWZnWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5o2ZoaVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3RfEBJER0VuaGFuY2VPcGVyYXRp
					b25XRW5oYW5jZQlfEBJSS0VuaGFuY2VPcGVy
					YXRpb25fEA9OU0tleWVkQXJjaGl2ZXLRcHFU
					cm9vdIABAAgAEQAaACMALQAyADcAXgBkAGsA
					cwB+AIUAkACSAJQAlgCYAJoAnACeAKAAogCk
					AK8AsQCzALUAtwC5ALsAvQC/AMEAwwDFAOAA
					6gEBAR4BNwE/AVwBewGTAbIBtAG7Ac4B0AHS
					AdQB1gHYAdoB3AHeAeAB4gHkAeYB6AHqAewB
					7gIBAgMCBQIHAgkCCwINAg8CEQITAhUCFwIZ
					AhsCHQIfAiECIwI1AkkCVwJrAooCnQKvAsMC
					1wLlAwEDFAMdAyYDKAMxAzoDPwNKA1MDaQNt
					A3oDgwOYA6ADoQO2A8gDywPQAAAAAAAAAgEA
					AAAAAAAAcgAAAAAAAAAAAAAAAAAAA9I=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187425</integer>
					<key>name</key>
					<string>RKEnhanceOperation</string>
					<key>uuid</key>
					<string>B+ZWXhiVRviekSVv4lhvfQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>17000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQ0RYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFwcIGxwdHh8gIS8wMTIzNDU2Nz4/QEFC
					VSRudWxs0wkKCwwTGldOUy5rZXlzWk5TLm9i
					amVjdHNWJGNsYXNzpg0ODxAREoACgAOABIAF
					gAaAB6YUFRYXGBmACIASgBOAFIAVgBaAEVlp
					bnB1dEtleXNfEBhER09wZXJhdGlvblZlcnNp
					b25OdW1iZXJXZW5hYmxlZF8QFERHT3BlcmF0
					aW9uQ2xhc3NOYW1lXxAVREdPcGVyYXRpb25J
					ZGVudGlmaWVyXxAWREdPcGVyYXRpb25EaXNw
					bGF5TmFtZdMJCgsiKBqlIyQlJieACYAKgAuA
					DIANpSkqKykqgA6AD4AQgA6AD4ARXxAZaW5w
					dXRXYWl0aW5nRm9yQXV0b1ZhbHVlc18QEWlu
					cHV0U2hhZG93QW1vdW50XxAUaW5wdXRNaWR0
					b25lQ29udHJhc3RfEBxpbnB1dFVzZUF1dG9D
					YWxjdWxhdGVkVmFsdWVzXxAUaW5wdXRIaWdo
					bGlnaHRBbW91bnQQACNAFAAAAAAAACMAAAAA
					AAAAANI4OTo7WiRjbGFzc25hbWVYJGNsYXNz
					ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5ozo8
					PVxOU0RpY3Rpb25hcnlYTlNPYmplY3QQAQlf
					EBxER1NoYWRvd0hpZ2hsaWdodFYxT3BlcmF0
					aW9uXxAaUktTaGFkb3dIaWdobGlnaHRPcGVy
					YXRpb25fEBRIaWdobGlnaHRzICYgU2hhZG93
					c18QD05TS2V5ZWRBcmNoaXZlctFFRlRyb290
					gAEACAARABoAIwAtADIANwBRAFcAXgBmAHEA
					eAB/AIEAgwCFAIcAiQCLAJIAlACWAJgAmgCc
					AJ4AoACqAMUAzQDkAPwBFQEcASIBJAEmASgB
					KgEsATIBNAE2ATgBOgE8AT4BWgFuAYUBpAG7
					Ab0BxgHPAdQB3wHoAf4CAgIPAhgCGgIbAjoC
					VwJuAoACgwKIAAAAAAAAAgEAAAAAAAAARwAA
					AAAAAAAAAAAAAAAAAoo=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187426</integer>
					<key>name</key>
					<string>RKShadowHighlightOperation</string>
					<key>uuid</key>
					<string>+FPzGQ0ESxSLvhPaVH8uwA</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>18000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGREVYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGAcIGxwdHh8gISIjJCUzNDU2Nzg5Ojs8
					Q1UkbnVsbNMJCgsMExpXTlMua2V5c1pOUy5v
					YmplY3RzViRjbGFzc6YNDg8QERKAAoADgASA
					BYAGgAemFBUWFxgZgAiACYAKgAuADIAXgBZf
					EBRER09wZXJhdGlvbkNsYXNzTmFtZV8QGERH
					T3BlcmF0aW9uVmVyc2lvbk51bWJlcldlbmFi
					bGVkXxAVREdPcGVyYXRpb25JZGVudGlmaWVy
					WWlucHV0S2V5c18QFkRHT3BlcmF0aW9uRGlz
					cGxheU5hbWVfEBFER0xldmVsc09wZXJhdGlv
					bhAACV8QEVJLTGV2ZWxzT3BlcmF0aW9u0wkK
					CyYsGqUnKCkqK4ANgA6AD4AQgBGlLS4vMC+A
					EoATgBSAFYAUgBZcaW5wdXRBdXRvUkdCWWlu
					cHV0TW9kZV8QHGlucHV0VXNlQXV0b0NhbGN1
					bGF0ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxj
					dWxhdG9yT3B0aW9uXxASaW5wdXRBdXRvTHVt
					aW5hbmNlEAAQARABEADSPT4/QFokY2xhc3Nu
					YW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGlj
					dGlvbmFyeaM/QUJcTlNEaWN0aW9uYXJ5WE5T
					T2JqZWN0VkxldmVsc18QD05TS2V5ZWRBcmNo
					aXZlctFGR1Ryb290gAEACAARABoAIwAtADIA
					NwBSAFgAXwBnAHIAeQCAAIIAhACGAIgAigCM
					AJMAlQCXAJkAmwCdAJ8AoQC4ANMA2wDzAP0B
					FgEqASwBLQFBAUgBTgFQAVIBVAFWAVgBXgFg
					AWIBZAFmAWgBagF3AYEBoAG8AdEB0wHVAdcB
					2QHeAekB8gIIAgwCGQIiAikCOwI+AkMAAAAA
					AAACAQAAAAAAAABIAAAAAAAAAAAAAAAAAAAC
					RQ==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187427</integer>
					<key>name</key>
					<string>RKLevelsOperation</string>
					<key>uuid</key>
					<string>QsCHtdZwRqKoeGNwXzaeiw</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>23000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGOTpYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QEwcIGxwdHh8gISkqKywtNDU2NzhVJG51
					bGzTCQoLDBMaV05TLmtleXNaTlMub2JqZWN0
					c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWABoAH
					phQVFhcYGYAIgA6AD4AQgBGAEoANWWlucHV0
					S2V5c18QGERHT3BlcmF0aW9uVmVyc2lvbk51
					bWJlcldlbmFibGVkXxAUREdPcGVyYXRpb25D
					bGFzc05hbWVfEBVER09wZXJhdGlvbklkZW50
					aWZpZXJfEBZER09wZXJhdGlvbkRpc3BsYXlO
					YW1l0wkKCyIlGqIjJIAJgAqiJieAC4AMgA1e
					aW5wdXRJbnRlbnNpdHlbaW5wdXRSYWRpdXMj
					P9MzMzMzMzMjQAgAAAAAAADSLi8wMVokY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMwMjNcTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN0EAAJXxASREdTaGFycGVuT3Bl
					cmF0aW9uXxASUktTaGFycGVuT3BlcmF0aW9u
					V1NoYXJwZW5fEA9OU0tleWVkQXJjaGl2ZXLR
					OzxUcm9vdIABAAgAEQAaACMALQAyADcATQBT
					AFoAYgBtAHQAewB9AH8AgQCDAIUAhwCOAJAA
					kgCUAJYAmACaAJwApgDBAMkA4AD4AREBGAEb
					AR0BHwEiASQBJgEoATcBQwFMAVUBWgFlAW4B
					hAGIAZUBngGgAaEBtgHLAdMB5QHoAe0AAAAA
					AAACAQAAAAAAAAA9AAAAAAAAAAAAAAAAAAAB
					7w==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187428</integer>
					<key>name</key>
					<string>RKSharpenOperation</string>
					<key>uuid</key>
					<string>c8fEgy7STBeSTChp4jExew</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>24000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQEFYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFgcIGxwdHh8gIS0uLzAxMjM0NTw9Pj9V
					JG51bGzTCQoLDBMaV05TLmtleXNaTlMub2Jq
					ZWN0c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWA
					BoAHphQVFhcYGYAIgA2AEoATgBSAFYARWWlu
					cHV0S2V5c18QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcldlbmFibGVkXxAUREdPcGVyYXRp
					b25DbGFzc05hbWVfEBVER09wZXJhdGlvbklk
					ZW50aWZpZXJfEBZER09wZXJhdGlvbkRpc3Bs
					YXlOYW1l0wkKCyInGqQjJCUmgAmACoALgAyk
					FSkqK4ANgA6AD4AQgBFfECBpbnB1dFByb0Vk
					Z2VTaGFycGVuTGVnYWN5VmVyc2lvblxpbnB1
					dEZhbGxvZmZeaW5wdXRFZGdlU2NhbGVeaW5w
					dXRTaGFycG5lc3MQACM/2ZmZmZmZmiM/2ZmZ
					mZmZmiM/2ZmZmZmZmtI2Nzg5WiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5ozg6O1xOU0RpY3Rpb25hcnlYTlNP
					YmplY3QJXxAZREdQcm9FZGdlU2hhcnBlbk9w
					ZXJhdGlvbl8QFVJLUHJvU2hhcnBlbk9wZXJh
					dGlvblxFZGdlIFNoYXJwZW5fEA9OU0tleWVk
					QXJjaGl2ZXLRQkNUcm9vdIABAAgAEQAaACMA
					LQAyADcAUABWAF0AZQBwAHcAfgCAAIIAhACG
					AIgAigCRAJMAlQCXAJkAmwCdAJ8AqQDEAMwA
					4wD7ARQBGwEgASIBJAEmASgBLQEvATEBMwE1
					ATcBWgFnAXYBhQGHAZABmQGiAacBsgG7AdEB
					1QHiAesB7AIIAiACLQI/AkICRwAAAAAAAAIB
					AAAAAAAAAEQAAAAAAAAAAAAAAAAAAAJJ
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>187368</integer>
					<key>name</key>
					<string>RKProSharpenOperation</string>
					<key>uuid</key>
					<string>NPqVQxAWSUG+QzflODlqCg</string>
				</dict>
			</array>
			<key>RKAdjustmentChainPresetName</key>
			<string>iPhone 6S v1.0</string>
			<key>RKAdjustmentChainPresetRenderPipelineVersion</key>
			<integer>3</integer>
			<key>RKAdjustmentChainPresetUUID</key>
			<string>r8xavkMWROqRcr2uTnK4AQ</string>
			<key>RKAdjustmentChainPresetUuuidArray</key>
			<array>
				<string>6uAlfZNhT3izLHWLezZVig</string>
				<string>B+ZWXhiVRviekSVv4lhvfQ</string>
				<string>+FPzGQ0ESxSLvhPaVH8uwA</string>
				<string>QsCHtdZwRqKoeGNwXzaeiw</string>
				<string>c8fEgy7STBeSTChp4jExew</string>
				<string>NPqVQxAWSUG+QzflODlqCg</string>
			</array>
			<key>RKAdjustmentChainPresetVersion</key>
			<string>3</string>
		</dict>
		<dict>
			<key>RKAdjustmentChainPresetCropPreserveOrientation</key>
			<true/>
			<key>RKAdjustmentChainPresetCropSourceMasterHeight</key>
			<integer>2736</integer>
			<key>RKAdjustmentChainPresetCropSourceMasterWidth</key>
			<integer>3648</integer>
			<key>RKAdjustmentChainPresetCropSourceRotation</key>
			<integer>0</integer>
			<key>RKAdjustmentChainPresetInfoDictionaryArray</key>
			<array>
				<dict>
					<key>adjIndex</key>
					<integer>8700000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGPD1YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFAcIGxwdHh8gISssLS4vMDE4OTo7VSRu
					dWxs0wkKCwwTGldOUy5rZXlzWk5TLm9iamVj
					dHNWJGNsYXNzpg0ODxAREoACgAOABIAFgAaA
					B6YUFRYXGBmACIAOgBCAEYASgBOAD1lpbnB1
					dEtleXNfEBhER09wZXJhdGlvblZlcnNpb25O
					dW1iZXJXZW5hYmxlZF8QFERHT3BlcmF0aW9u
					Q2xhc3NOYW1lXxAVREdPcGVyYXRpb25JZGVu
					dGlmaWVyXxAWREdPcGVyYXRpb25EaXNwbGF5
					TmFtZdMJCgsiJhqjIyQlgAmACoALoycoFYAM
					gA2ADoAPXxAPaW5wdXRFZGdlRGV0YWlsW2lu
					cHV0UmFkaXVzXxAgaW5wdXROb2lzZVJlZHVj
					dGlvbkxlZ2FjeVZlcnNpb24jP/gAAAAAAAAj
					P/AAAAAAAAAQANIyMzQ1WiRjbGFzc25hbWVY
					JGNsYXNzZXNfEBNOU011dGFibGVEaWN0aW9u
					YXJ5ozQ2N1xOU0RpY3Rpb25hcnlYTlNPYmpl
					Y3QJXxAZREdOb2lzZVJlZHVjdGlvbk9wZXJh
					dGlvbl8QGVJLTm9pc2VSZWR1Y3Rpb25PcGVy
					YXRpb25fEA9Ob2lzZSBSZWR1Y3Rpb25fEA9O
					U0tleWVkQXJjaGl2ZXLRPj9Ucm9vdIABAAgA
					EQAaACMALQAyADcATgBUAFsAYwBuAHUAfAB+
					AIAAggCEAIYAiACPAJEAkwCVAJcAmQCbAJ0A
					pwDCAMoA4QD5ARIBGQEdAR8BIQEjAScBKQEr
					AS0BLwFBAU0BcAF5AYIBhAGJAZQBnQGzAbcB
					xAHNAc4B6gIGAhgCKgItAjIAAAAAAAACAQAA
					AAAAAABAAAAAAAAAAAAAAAAAAAACNA==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14961</integer>
					<key>name</key>
					<string>RKNoiseReductionOperation</string>
					<key>uuid</key>
					<string>H2IqWUxCQ2ORRo9VNH79Dw</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>9000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGdXZYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QKwcIGxwdHh8gISJERUZHSElKS0xNTk9Q
					UVJTVFVWXGNkZWZnamtsbXFyc3RVJG51bGzT
					CQoLDBMaV05TLmtleXNaTlMub2JqZWN0c1Yk
					Y2xhc3OmDQ4PEBESgAKAA4AEgAWABoAHphQV
					FhcYGYAIgAmAJ4AogCmAKoAmXxAYREdPcGVy
					YXRpb25WZXJzaW9uTnVtYmVyWWlucHV0S2V5
					c18QFERHT3BlcmF0aW9uQ2xhc3NOYW1lXxAW
					REdPcGVyYXRpb25EaXNwbGF5TmFtZVdlbmFi
					bGVkXxAVREdPcGVyYXRpb25JZGVudGlmaWVy
					EADTCQoLIzMarxAPJCUmJygpKissLS4vMDEy
					gAqAC4AMgA2ADoAPgBCAEYASgBOAFIAVgBaA
					F4AYrxAPNDU2NzgUOjs1PT4/QEE6gBmAGoAb
					gByAHoAIgB+AIIAagCGAIoAjgCSAJYAfgCZf
					EBBpbnB1dFRlbXBlcmF0dXJlWWlucHV0Qmlh
					c18QD2lucHV0SXNEZWZhdWx0c15pbnB1dEdy
					YXlDb2xvcl8QD2lucHV0R3JheVdhcm10aF8Q
					EmlucHV0TGVnYWN5VmVyc2lvbl8QHGlucHV0
					VXNlQXV0b0NhbGN1bGF0ZWRWYWx1ZXNeaW5w
					dXRDb2xvclR5cGVXaW5wdXRFVl8QD2lucHV0
					RmFjZVdhcm10aF5pbnB1dEZhY2VDb2xvclpp
					bnB1dFNsb3BlXxAZaW5wdXRBdXRvQ2FsY3Vs
					YXRvck9wdGlvbllpbnB1dFRpbnRfEBlpbnB1
					dFdhaXRpbmdGb3JBdXRvVmFsdWVzI0Cz7AAA
					AAAAIwAAAAAAAAAACNNXWAtZWltVTlNSR0Jc
					TlNDb2xvclNwYWNlTxAnMC43NzYzMDczNTI2
					IDAuNzUzNzM4MzM4NyAwLjc0OTQ5MDMwOTEA
					EAGAHdJdXl9gWiRjbGFzc25hbWVYJGNsYXNz
					ZXNXTlNDb2xvcqJhYldOU0NvbG9yWE5TT2Jq
					ZWN0Iz/gAAAAAAAAEAAQAiM/4AAAAAAAANNX
					WAtoWltGMSAwIDAAgB0jP/AAAAAAAAAQACNA
					FAzIymrhGNJdXm5vXxATTlNNdXRhYmxlRGlj
					dGlvbmFyeaNucGJcTlNEaWN0aW9uYXJ5XxAX
					REdXaGl0ZUJhbGFuY2VPcGVyYXRpb25dV2hp
					dGUgQmFsYW5jZQlfEBdSS1doaXRlQmFsYW5j
					ZU9wZXJhdGlvbl8QD05TS2V5ZWRBcmNoaXZl
					ctF3eFRyb290gAEACAARABoAIwAtADIANwBl
					AGsAcgB6AIUAjACTAJUAlwCZAJsAnQCfAKYA
					qACqAKwArgCwALIAtADPANkA8AEJAREBKQEr
					ATIBRAFGAUgBSgFMAU4BUAFSAVQBVgFYAVoB
					XAFeAWABYgF0AXYBeAF6AXwBfgGAAYIBhAGG
					AYgBigGMAY4BkAGSAZQBpwGxAcMB0gHkAfkC
					GAInAi8CQQJQAlsCdwKBAp0CpgKvArACtwK9
					AsoC9AL2AvgC/QMIAxEDGQMcAyQDLQM2AzgD
					OgNDA0oDUQNTA1wDXgNnA2wDggOGA5MDrQO7
					A7wD1gPoA+sD8AAAAAAAAAIBAAAAAAAAAHkA
					AAAAAAAAAAAAAAAAAAPy
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14962</integer>
					<key>name</key>
					<string>RKWhiteBalanceOperation</string>
					<key>uuid</key>
					<string>eMMVZ15NRvizOxf2eufOCQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>10000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGS0xYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGwcIGxwdHh8gISIjJCU3ODk6Ozw9Pj9A
					QUJDSlUkbnVsbNMJCgsMExpXTlMua2V5c1pO
					Uy5vYmplY3RzViRjbGFzc6YNDg8QERKAAoAD
					gASABYAGgAemFBUWFxgZgAiACYAKgAuADIAa
					gBlXZW5hYmxlZF8QFURHT3BlcmF0aW9uSWRl
					bnRpZmllcl8QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcl8QFERHT3BlcmF0aW9uQ2xhc3NO
					YW1lWWlucHV0S2V5c18QFkRHT3BlcmF0aW9u
					RGlzcGxheU5hbWUJXxATUktFeHBvc3VyZU9w
					ZXJhdGlvbhAAXxATREdFeHBvc3VyZU9wZXJh
					dGlvbtMJCgsmLhqnJygpKissLYANgA6AD4AQ
					gBGAEoATpy8wLzIzMjWAFIAVgBSAFoAXgBaA
					GIAZV2lucHV0RVZfEA9pbnB1dFJlY292ZXJ5
					RVZfEA9pbnB1dEJyaWdodG5lc3NfEBlpbnB1
					dFdhaXRpbmdGb3JBdXRvVmFsdWVzWWlucHV0
					Qmlhc18QHGlucHV0VXNlQXV0b0NhbGN1bGF0
					ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxjdWxh
					dG9yT3B0aW9uIwAAAAAAAAAAIz+5mZmZmZma
					EAAjQAgAAAAAAAAQANJERUZHWiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5o0ZISVxOU0RpY3Rpb25hcnlYTlNP
					YmplY3RYRXhwb3N1cmVfEA9OU0tleWVkQXJj
					aGl2ZXLRTU5Ucm9vdIABAAgAEQAaACMALQAy
					ADcAVQBbAGIAagB1AHwAgwCFAIcAiQCLAI0A
					jwCWAJgAmgCcAJ4AoACiAKQArADEAN8A9gEA
					ARkBGgEwATIBSAFPAVcBWQFbAV0BXwFhAWMB
					ZQFtAW8BcQFzAXUBdwF5AXsBfQGFAZcBqQHF
					Ac8B7gIKAhMCHAIeAicCKQIuAjkCQgJYAlwC
					aQJyAnsCjQKQApUAAAAAAAACAQAAAAAAAABP
					AAAAAAAAAAAAAAAAAAAClw==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14963</integer>
					<key>name</key>
					<string>RKExposureOperation</string>
					<key>uuid</key>
					<string>OZLPk5YER36IjZWoDcu5Dg</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>11000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGbm9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QJAcIIyQlJicoKSorLC0uUlNUVVZXWFla
					W1xdXl9gYWJjamtsbVUkbnVsbNMJCgsMFyJX
					TlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6oN
					Dg8QERITFBUWgAKAA4AEgAWABoAHgAiACYAK
					gAuqGBkaGBwdGBggGIAMgA2AIIAMgCGAIoAM
					gAyAI4AMgB9fEBhER09wZXJhdGlvblZlcnNp
					b25OdW1iZXJZaW5wdXRLZXlzXxAUREdPcGVy
					YXRpb25DbGFzc05hbWVfEBppbnB1dFZpYnJh
					bmNlTGVnYWN5VmVyc2lvbl8QFkRHT3BlcmF0
					aW9uRGlzcGxheU5hbWVXZW5hYmxlZF8QGmlu
					cHV0Q29udHJhc3RMZWdhY3lWZXJzaW9uXxAc
					aW5wdXREZWZpbml0aW9uTGVnYWN5VmVyc2lv
					bl8QFURHT3BlcmF0aW9uSWRlbnRpZmllcl8Q
					HGlucHV0U2F0dXJhdGlvbkxlZ2FjeVZlcnNp
					b24QANMJCgsvQCKvEBAwMTIzNDUQNzg5EzsW
					FD4/gA6AD4AQgBGAEoATgAWAFIAVgBaACIAX
					gAuACYAYgBmvEBBBQkJCRUIYSEJCGEwYGEVC
					gBqAG4AbgBuAHIAbgAyAHYAbgBuADIAegAyA
					DIAcgBuAH18QD2lucHV0RGVmaW5pdGlvbl8Q
					EWlucHV0QmxhY2tVT2Zmc2V0XWlucHV0Q29u
					dHJhc3RfEBFpbnB1dEJsYWNrVk9mZnNldF8Q
					HGlucHV0VXNlQXV0b0NhbGN1bGF0ZWRWYWx1
					ZXNfEBBpbnB1dEdyYXlWT2Zmc2V0XxAPaW5w
					dXRTYXR1cmF0aW9uXxARaW5wdXRXaGl0ZVVP
					ZmZzZXRfEBFpbnB1dFdoaXRlVk9mZnNldF1p
					bnB1dFZpYnJhbmN5XxAZaW5wdXRXYWl0aW5n
					Rm9yQXV0b1ZhbHVlc18QEGlucHV0R3JheVVP
					ZmZzZXQjP6mZmZmZmZojAAAAAAAAAAAQACM/
					8MzMzMzMzSM/uZmZmZmZmtJkZWZnWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5o2ZoaVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3RfEBJER0VuaGFuY2VPcGVyYXRp
					b25XRW5oYW5jZQlfEBJSS0VuaGFuY2VPcGVy
					YXRpb25fEA9OU0tleWVkQXJjaGl2ZXLRcHFU
					cm9vdIABAAgAEQAaACMALQAyADcAXgBkAGsA
					cwB+AIUAkACSAJQAlgCYAJoAnACeAKAAogCk
					AK8AsQCzALUAtwC5ALsAvQC/AMEAwwDFAOAA
					6gEBAR4BNwE/AVwBewGTAbIBtAG7Ac4B0AHS
					AdQB1gHYAdoB3AHeAeAB4gHkAeYB6AHqAewB
					7gIBAgMCBQIHAgkCCwINAg8CEQITAhUCFwIZ
					AhsCHQIfAiECIwI1AkkCVwJrAooCnQKvAsMC
					1wLlAwEDFAMdAyYDKAMxAzoDPwNKA1MDaQNt
					A3oDgwOYA6ADoQO2A8gDywPQAAAAAAAAAgEA
					AAAAAAAAcgAAAAAAAAAAAAAAAAAAA9I=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14964</integer>
					<key>name</key>
					<string>RKEnhanceOperation</string>
					<key>uuid</key>
					<string>9huReYq+TxqENcmty3NDQg</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>17000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQ0RYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFwcIGxwdHh8gIS8wMTIzNDU2Nz4/QEFC
					VSRudWxs0wkKCwwTGldOUy5rZXlzWk5TLm9i
					amVjdHNWJGNsYXNzpg0ODxAREoACgAOABIAF
					gAaAB6YUFRYXGBmACIASgBOAFIAVgBaAEVlp
					bnB1dEtleXNfEBhER09wZXJhdGlvblZlcnNp
					b25OdW1iZXJXZW5hYmxlZF8QFERHT3BlcmF0
					aW9uQ2xhc3NOYW1lXxAVREdPcGVyYXRpb25J
					ZGVudGlmaWVyXxAWREdPcGVyYXRpb25EaXNw
					bGF5TmFtZdMJCgsiKBqlIyQlJieACYAKgAuA
					DIANpSkqKykqgA6AD4AQgA6AD4ARXxAZaW5w
					dXRXYWl0aW5nRm9yQXV0b1ZhbHVlc18QEWlu
					cHV0U2hhZG93QW1vdW50XxAUaW5wdXRNaWR0
					b25lQ29udHJhc3RfEBxpbnB1dFVzZUF1dG9D
					YWxjdWxhdGVkVmFsdWVzXxAUaW5wdXRIaWdo
					bGlnaHRBbW91bnQQACNAJAAAAAAAACMAAAAA
					AAAAANI4OTo7WiRjbGFzc25hbWVYJGNsYXNz
					ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5ozo8
					PVxOU0RpY3Rpb25hcnlYTlNPYmplY3QQAQlf
					EBxER1NoYWRvd0hpZ2hsaWdodFYxT3BlcmF0
					aW9uXxAaUktTaGFkb3dIaWdobGlnaHRPcGVy
					YXRpb25fEBRIaWdobGlnaHRzICYgU2hhZG93
					c18QD05TS2V5ZWRBcmNoaXZlctFFRlRyb290
					gAEACAARABoAIwAtADIANwBRAFcAXgBmAHEA
					eAB/AIEAgwCFAIcAiQCLAJIAlACWAJgAmgCc
					AJ4AoACqAMUAzQDkAPwBFQEcASIBJAEmASgB
					KgEsATIBNAE2ATgBOgE8AT4BWgFuAYUBpAG7
					Ab0BxgHPAdQB3wHoAf4CAgIPAhgCGgIbAjoC
					VwJuAoACgwKIAAAAAAAAAgEAAAAAAAAARwAA
					AAAAAAAAAAAAAAAAAoo=
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14965</integer>
					<key>name</key>
					<string>RKShadowHighlightOperation</string>
					<key>uuid</key>
					<string>nRQEADQdRvOXWB7Px+SOGA</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>18000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGREVYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QGAcIGxwdHh8gISIjJCUzNDU2Nzg5Ojs8
					Q1UkbnVsbNMJCgsMExpXTlMua2V5c1pOUy5v
					YmplY3RzViRjbGFzc6YNDg8QERKAAoADgASA
					BYAGgAemFBUWFxgZgAiACYAKgAuADIAXgBZf
					EBRER09wZXJhdGlvbkNsYXNzTmFtZV8QGERH
					T3BlcmF0aW9uVmVyc2lvbk51bWJlcldlbmFi
					bGVkXxAVREdPcGVyYXRpb25JZGVudGlmaWVy
					WWlucHV0S2V5c18QFkRHT3BlcmF0aW9uRGlz
					cGxheU5hbWVfEBFER0xldmVsc09wZXJhdGlv
					bhAACV8QEVJLTGV2ZWxzT3BlcmF0aW9u0wkK
					CyYsGqUnKCkqK4ANgA6AD4AQgBGlLS4vMC+A
					EoATgBSAFYAUgBZcaW5wdXRBdXRvUkdCWWlu
					cHV0TW9kZV8QHGlucHV0VXNlQXV0b0NhbGN1
					bGF0ZWRWYWx1ZXNfEBlpbnB1dEF1dG9DYWxj
					dWxhdG9yT3B0aW9uXxASaW5wdXRBdXRvTHVt
					aW5hbmNlEAAQARABEADSPT4/QFokY2xhc3Nu
					YW1lWCRjbGFzc2VzXxATTlNNdXRhYmxlRGlj
					dGlvbmFyeaM/QUJcTlNEaWN0aW9uYXJ5WE5T
					T2JqZWN0VkxldmVsc18QD05TS2V5ZWRBcmNo
					aXZlctFGR1Ryb290gAEACAARABoAIwAtADIA
					NwBSAFgAXwBnAHIAeQCAAIIAhACGAIgAigCM
					AJMAlQCXAJkAmwCdAJ8AoQC4ANMA2wDzAP0B
					FgEqASwBLQFBAUgBTgFQAVIBVAFWAVgBXgFg
					AWIBZAFmAWgBagF3AYEBoAG8AdEB0wHVAdcB
					2QHeAekB8gIIAgwCGQIiAikCOwI+AkMAAAAA
					AAACAQAAAAAAAABIAAAAAAAAAAAAAAAAAAAC
					RQ==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14966</integer>
					<key>name</key>
					<string>RKLevelsOperation</string>
					<key>uuid</key>
					<string>mmFdsr4JTnWqi557FCvaUQ</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>23000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGOTpYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QEwcIGxwdHh8gISkqKywtNDU2NzhVJG51
					bGzTCQoLDBMaV05TLmtleXNaTlMub2JqZWN0
					c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWABoAH
					phQVFhcYGYAIgA6AD4AQgBGAEoANWWlucHV0
					S2V5c18QGERHT3BlcmF0aW9uVmVyc2lvbk51
					bWJlcldlbmFibGVkXxAUREdPcGVyYXRpb25D
					bGFzc05hbWVfEBVER09wZXJhdGlvbklkZW50
					aWZpZXJfEBZER09wZXJhdGlvbkRpc3BsYXlO
					YW1l0wkKCyIlGqIjJIAJgAqiJieAC4AMgA1e
					aW5wdXRJbnRlbnNpdHlbaW5wdXRSYWRpdXMj
					P9mZmZmZmZojQBAAAAAAAADSLi8wMVokY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMwMjNcTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN0EAAJXxASREdTaGFycGVuT3Bl
					cmF0aW9uXxASUktTaGFycGVuT3BlcmF0aW9u
					V1NoYXJwZW5fEA9OU0tleWVkQXJjaGl2ZXLR
					OzxUcm9vdIABAAgAEQAaACMALQAyADcATQBT
					AFoAYgBtAHQAewB9AH8AgQCDAIUAhwCOAJAA
					kgCUAJYAmACaAJwApgDBAMkA4AD4AREBGAEb
					AR0BHwEiASQBJgEoATcBQwFMAVUBWgFlAW4B
					hAGIAZUBngGgAaEBtgHLAdMB5QHoAe0AAAAA
					AAACAQAAAAAAAAA9AAAAAAAAAAAAAAAAAAAB
					7w==
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14967</integer>
					<key>name</key>
					<string>RKSharpenOperation</string>
					<key>uuid</key>
					<string>i6IvE0b2T3SM7HosIbja8A</string>
				</dict>
				<dict>
					<key>adjIndex</key>
					<integer>24000000</integer>
					<key>data</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGQEFYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK8QFgcIGxwdHh8gIS0uLzAxMjM0NTw9Pj9V
					JG51bGzTCQoLDBMaV05TLmtleXNaTlMub2Jq
					ZWN0c1YkY2xhc3OmDQ4PEBESgAKAA4AEgAWA
					BoAHphQVFhcYGYAIgA2AEoATgBSAFYARWWlu
					cHV0S2V5c18QGERHT3BlcmF0aW9uVmVyc2lv
					bk51bWJlcldlbmFibGVkXxAUREdPcGVyYXRp
					b25DbGFzc05hbWVfEBVER09wZXJhdGlvbklk
					ZW50aWZpZXJfEBZER09wZXJhdGlvbkRpc3Bs
					YXlOYW1l0wkKCyInGqQjJCUmgAmACoALgAyk
					FSkqK4ANgA6AD4AQgBFfECBpbnB1dFByb0Vk
					Z2VTaGFycGVuTGVnYWN5VmVyc2lvblxpbnB1
					dEZhbGxvZmZeaW5wdXRFZGdlU2NhbGVeaW5w
					dXRTaGFycG5lc3MQACM/4AAAAAAAACM/4AAA
					AAAAACM/4AAAAAAAANI2Nzg5WiRjbGFzc25h
					bWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0
					aW9uYXJ5ozg6O1xOU0RpY3Rpb25hcnlYTlNP
					YmplY3QJXxAZREdQcm9FZGdlU2hhcnBlbk9w
					ZXJhdGlvbl8QFVJLUHJvU2hhcnBlbk9wZXJh
					dGlvblxFZGdlIFNoYXJwZW5fEA9OU0tleWVk
					QXJjaGl2ZXLRQkNUcm9vdIABAAgAEQAaACMA
					LQAyADcAUABWAF0AZQBwAHcAfgCAAIIAhACG
					AIgAigCRAJMAlQCXAJkAmwCdAJ8AqQDEAMwA
					4wD7ARQBGwEgASIBJAEmASgBLQEvATEBMwE1
					ATcBWgFnAXYBhQGHAZABmQGiAacBsgG7AdEB
					1QHiAesB7AIIAiACLQI/AkICRwAAAAAAAAIB
					AAAAAAAAAEQAAAAAAAAAAAAAAAAAAAJJ
					</data>
					<key>isEnabled</key>
					<true/>
					<key>modelId</key>
					<integer>14968</integer>
					<key>name</key>
					<string>RKProSharpenOperation</string>
					<key>uuid</key>
					<string>VrpduZ8TSxm5Z4J0gVeGDg</string>
				</dict>
			</array>
			<key>RKAdjustmentChainPresetName</key>
			<string>Canon PowerShot G7 v1.1</string>
			<key>RKAdjustmentChainPresetRenderPipelineVersion</key>
			<integer>3</integer>
			<key>RKAdjustmentChainPresetUUID</key>
			<string>RF4svEZVQLq1eB1NV+5p6g</string>
			<key>RKAdjustmentChainPresetUuuidArray</key>
			<array>
				<string>H2IqWUxCQ2ORRo9VNH79Dw</string>
				<string>eMMVZ15NRvizOxf2eufOCQ</string>
				<string>OZLPk5YER36IjZWoDcu5Dg</string>
				<string>9huReYq+TxqENcmty3NDQg</string>
				<string>nRQEADQdRvOXWB7Px+SOGA</string>
				<string>mmFdsr4JTnWqi557FCvaUQ</string>
				<string>i6IvE0b2T3SM7HosIbja8A</string>
				<string>VrpduZ8TSxm5Z4J0gVeGDg</string>
			</array>
			<key>RKAdjustmentChainPresetVersion</key>
			<string>3</string>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
