<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Original Size - LCD</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>4096</integer>
		<key>DestinationPixelWidth</key>
		<integer>4096</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 4096 x 4096 - LCD</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>2050</integer>
		<key>DestinationPixelWidth</key>
		<integer>2050</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 2050 x 2050 - LCD</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>2048</integer>
		<key>DestinationPixelWidth</key>
		<integer>2048</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 2048 x 2048 - LCD</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1024</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 1024 x 1024 - LCD</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		amK4svH7he/6YvHaNTzCZA==
		</data>
		<key>ColorSyncProfileName</key>
		<string>Color LCD</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1080</integer>
		<key>DestinationPixelWidth</key>
		<integer>1080</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>12</integer>
		<key>IncludeMetadata</key>
		<false/>
		<key>Name</key>
		<string>JPEG - Fit within 1080 - Instagram</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
</array>
</plist>
