<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plist</key>
	<array>
		<dict>
			<key>FormatString</key>
			<string>%d@%t_%c</string>
			<key>MinimumNumberOfDigits</key>
			<integer>2</integer>
			<key>Name</key>
			<string>date@time_counter</string>
			<key>StartingCounterNumber</key>
			<integer>810</integer>
		</dict>
		<dict>
			<key>FormatString</key>
			<string>%d@%t</string>
			<key>MinimumNumberOfDigits</key>
			<integer>6</integer>
			<key>Name</key>
			<string>date@time</string>
			<key>StartingCounterNumber</key>
			<integer>8088</integer>
		</dict>
		<dict>
			<key>FormatString</key>
			<string>%d</string>
			<key>MinimumNumberOfDigits</key>
			<integer>6</integer>
			<key>Name</key>
			<string>date</string>
			<key>StartingCounterNumber</key>
			<integer>8088</integer>
		</dict>
		<dict>
			<key>FormatString</key>
			<string>%d-%c</string>
			<key>MinimumNumberOfDigits</key>
			<integer>3</integer>
			<key>Name</key>
			<string>date-counter</string>
			<key>StartingCounterNumber</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
